<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit: <%= a.name %></title>
</head>
<body>
    
    <form method="POST" action="/animals/<%= id %>/logs/<%=  %>?_method=PUT">
        Name: <input name="name" type="text" value="<%=a.name%>"><br>
        Age: <input name="age" type="number"value="<%=a.age%>"><br>
        
        <input type="submit" value="Update!">
    </form>
    <form action="/animals/<%= id %>">
        <input type="submit" value="BACK" />
    </form>
</body>
</html>