<%- include('../partials/header.ejs')  %> 
<body>
<div class="container">
<div class="row" style="border:5px solid black; margin:30px 0px 0px 0px; padding: 5px">
    <div class="justify-content-center col" style=" border:2px solid black; padding: 5px">
        <img class="img-fluid" src="/<%= animal.img %>" alt="">
    </div>
    <div class="col" style="border:2px solid black">
        <div >
            <p style="font-size: 30px; font-weight: bold;" ><%=animal.name%></p>
            <p style="font-size: 20px;" >Age: <%=animal.age%></p>
            <p style="font-size: 20px;" >Description: <br><%=animal.description%></p>
        </div>
        <div class="row" >
            <div class="d-flex justify-content-end col">
                <!-- =======================================================================
                Edit button below brings up a modal that shows the form to edit an 
                animal's information
                ======================================================================= -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editModal">
                    Edit
                </button>
            </div>
            <div class="justify-content-start col">
                <!-- =======================================================================
                Delete button below brings up a modal to confirm you really want to delete
                ======================================================================= -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>


<!-- EDIT ANIMAL MODAL START -->
<div class="modal fade" id="editModal" tabindex="-1"  aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="editModalLabel">Edit animal's information</h3>
            </div>
            <div class="modal-body">
                <form method="POST" action="/animals/<%= id %>?_method=PUT">
                    <h5>Name:</h5>
                    <input name="name" type="text" value="<%=animal.name%>">
                    <h5><br>Age:</h5>
                    <input name="age" type="number"value="<%=animal.age%>">
                    <h5><br>Description:</h5>
                    <textarea name="description" rows="4" cols="50"><%=animal.description%>
                        </textarea>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                        <input class="btn btn-dark" type="submit" value="Update!">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END OF EDIT MODAL -->

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <!-- =======================================================================
                Delete button below actually deletes an animal
                ======================================================================= -->
                <form action="/animals/<%= animal._id %>?_method=DELETE" method="POST">
                    <input class="btn btn-dark" type="submit" value="Delete">
                </form>
                
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<!-- END OF DELETE MODAL -->

<!-- LOGS AREA -->
<div class="container">
    <div style="border:1px solid silver; margin:30px 0px 0px 0px; padding: 5px">
        <h3>Husbandry Log</h3>
        <!-- LOGS FORM STARTS -->
        <form id="add-log" method="POST"
        action="/animals/<%= animal._id %>/logs">
            <select name="typeOfCare" class="form-select" aria-label="Default select example">
                <option selected>Type of care</option>
                <option value="Hygiene">Hygiene</option>
                <option value="Diet">Diet</option>
                <option value="Vet">Vet Appointment</option>
                <option value="Medicine">Medicine</option>
            </select>
            <div class="mb-3">
                <label for="logEntry" class="form-label"><br> Entry</label>
                <textarea name="entry" class="form-control" id="logEntry" rows="3"></textarea>
            </div>
            <input class="btn btn-dark" type="submit" value="Add Log">
        </form>
        <!-- LOGS FORM ENDS -->
    </div>
</div>

<!-- LOGS TABLE STARTS -->
<div class="container">
    <% if(animal.logs.length){ %>
    <table class="table table-striped table-hover">
        <tr>
            <th>Type</th>
            <th>Log</th>
            <th>Date</th>
            <th>Time</th>
            <th> </th>
        </tr>
        <% animal.logs.forEach((l)=>{ %>
        <tr>
            <td><%= l.typeOfCare %></td>
            <td><%= l.entry %></td>
            <td><%= l.createdAt?.toLocaleDateString() %></td>
            <td><%= l.createdAt?.toLocaleTimeString() %></td>
            <td>
                <form action="/animals/<%= animal._id %>/logs/<%=l._id%>?_method=DELETE" method="POST">
                    <input class="btn btn-dark" type="submit" value="Delete">
                </form>
            </td>
        </tr>
        <% }) %>
        <tr>
    </table>
    <% } else { %>
            <h3>No logs </h3>
    <% } %>
                    <!-- LOGS TABLE ENDS -->
</div>
<!-- END OF LOGS AREA -->
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
<%- include('../partials/footer.ejs')  %>