<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title><%=a.name%></title>
</head>
<body>
    <form action="/animals">
        <input type="submit" value="BACK" />
    </form>
    <h1><%=a.name%></h1>
    <h1><%=a.age%></h1>
   <img src="/<%= a.img %>" alt="">
   <form action="/animals/<%= a._id %>/edit">
    <input type="submit" value="Edit">
    </form>
    <form action="/animals/<%= a._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
<!-- Logs area -->

<form id="add-log" method="POST"
  action="/animals/<%= a._id %>/logs">
  <!-- <label>Log:</label> -->
  <label>Type:</label>
  <select name="typeOfCare">
    <option value="Hygiene">Hygiene</option>
    <option value="Diet">Diet</option>
    <option value="Vet">Vet Appointment</option>
    <option value="Medicine">Medicine</option>
  </select>
  <textarea name="entry"></textarea>
  <input type="submit" value="Add Log">
</form>


<!-- update here / dont forget time stamp-->
<%if(a.logs.length){%>
<% a.logs.forEach((l)=>{%>
    <%= l.typeOfCare %>
    <%= l.entry %>
    <%= l.createdAt.toLocaleTimeString() %>
    <%= l.createdAt.toLocaleDateString() %>
    <form action="/animals/<%= a._id %>/logs/<%=l._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
      </form>

      <!-- if remove comment below, make sure too remove spare between cherry tags -->

    <!-- <form action="/animals/< %= a._id %>/logs/< %= l._id %>/editLog">
        <input type="submit" value="Edit Log">
    </form> -->
<%}) %>

<% } else { %>
<h1>no logs yet</h1>

<%}%>

</body>
</html>